@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");
body {
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
footer {
    display: block
}
*, :after, :before {
    box-sizing: border-box;
}
.page-footer {
    background-color: #fff;
    padding-top: 30px;
    text-align: center
}

.page-footer.dark {
    background-color: #2b2f31
}

.page-footer .footer-copyright {
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    border: 1px solid #ededed
}

.page-footer.dark .footer-copyright {
    background-color: #222425;
    border-color: #222425
}

.page-footer .footer-copyright p {
    margin: 10px;
    color: #7d8288
}

.page-footer.dark .footer-copyright p {
    color: #ccc
}

.page-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7
}

.page-footer h5 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px
}

.page-footer.dark h5 {
    color: #fff
}

.page-footer a {
    color: #53595f;
    text-decoration: none
}

.page-footer.dark a {
    color: #d2d1d1
}

.page-footer a:focus,
.page-footer a:hover {
    text-decoration: none;
    color: #1d2125
}

.page-footer.dark a:focus,
.page-footer.dark a:hover {
    color: #fff
}

@media (min-width:576px) {
    .page-footer {
        text-align: left
    }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width:768px) {
    .page-footer .fot li {
        position: relative;
        padding-left: 10px
    }

    .page-footer .fot li:after,
    .page-footer .fot li:before {
        content: "";
        position: absolute;
        left: 0;
        width: 2px;
        height: 6px;
        border-radius: 2px;
        background-color: #007bff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .page-footer .fot li:before {
        top: 9px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .page-footer .fot li:after {
        top: 13px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}
.row:first-of-type {
    border-top: none;
    border-left: none;
    margin-bottom: 20px
}
@media (max-width:767.98px) {
    .row div:last-child {
        margin-bottom: 0
    }
}
/*@media (min-width:768px) {
    .row:first-of-type {
    border-top: 1px solid #e8e6e6;
    border-left: 1px solid #e8e6e6
}
}*/
.col-sm-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}
@media (min-width:576px) {
.col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}
}
h5 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.25rem
}
ul {
    margin-bottom: 1rem
}
ul {
    margin-top: 0
}
.page-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        height: 2.5em;
        line-height: 2.5em;
        padding: 0 0.5em;
    }

        ul.icons li .icon {
            font-size: 0.8em;
        }

            ul.icons li .icon:before {
                font-size: 2em;
            }
            #footer .icons .icon.alt {
                text-decoration: none;
            }
    
                #footer .icons .icon.alt:before {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    text-transform: none !important;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 400;
                }
    
                #footer .icons .icon.alt:before {
                    color: #272833 !important;
                    text-shadow: 1px 0 0 rgba(255, 255, 255, 0.5), -1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.5);
                }
                .icon {
                    text-decoration: none;
                    border-bottom: none;
                    position: relative;
                }
            
                    .icon:before {
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        line-height: 1;
                        text-transform: none !important;
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 400;
                    }
            
                    .icon > .label {
                        display: none;
                    }
            
                    .icon:before {
                        line-height: inherit;
                    }
            
                    .icon.solid:before {
                        font-weight: 900 !important;
                    }
            
                    .icon.brands:before {
                        font-family: 'Font Awesome 5 Brands' !important;
                    }
            
                    .icon.alt {
                        text-decoration: none;
                    }
            
                        .icon.alt:before {
                            -moz-osx-font-smoothing: grayscale;
                            -webkit-font-smoothing: antialiased;
                            display: inline-block;
                            font-style: normal;
                            font-variant: normal;
                            text-rendering: auto;
                            line-height: 1;
                            text-transform: none !important;
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 400;
                        }
            
                        .icon.alt:before {
                            color: #1c1d26 !important;
                            text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff;
                        }
            
                    .icon.major {
                        background: #272833;
                        border-radius: 100%;
                        cursor: default;
                        display: inline-block;
                        height: 6em;
                        line-height: 5.65em;
                        margin: 0 0 2em 0;
                        text-align: center;
                        width: 6em;
                    }
            
                        .icon.major:before {
                            font-size: 2.25em;
                        }
            
                        .icon.major.alt {
                            text-decoration: none;
                        }
            
                            .icon.major.alt:before {
                                -moz-osx-font-smoothing: grayscale;
                                -webkit-font-smoothing: antialiased;
                                display: inline-block;
                                font-style: normal;
                                font-variant: normal;
                                text-rendering: auto;
                                line-height: 1;
                                text-transform: none !important;
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 400;
                            }
            
                            .icon.major.alt:before {
                                color: #272833 !important;
                                text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff;
                            }
                            .align-middle {
                                vertical-align: middle !important
                            }
                            .align-items-center {
                                -ms-flex-align: center !important;
                                align-items: center !important
                            }
                            .align-content-center {
                                -ms-flex-line-pack: center !important;
                                align-content: center !important
                            }
                            .align-center {
                                text-align: center;
                            }